@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    list-style: none;
    text-decoration: none;
}

.font-roboto{
    font-family: "Roboto", sans-serif;
}

.font-nunito{
    font-family: "Nunito Sans", sans-serif;
}

.contribute-btn:hover{
    background-color: rgba(11, 2, 42, 0.797) !important;
}

.menus ul li a:hover{
    color: red !important;
}

.menus ul li{
    position: relative;
}

.menus ul li a:after{
    content: "";
    position: absolute;
    width: 0;
    border: 1px solid #ab0000;
    bottom: 0;
    visibility: hidden;
    right: 0;
    transition: 0.5s all linear;
}

.menus ul li a:hover::after{
    visibility: visible;
    width: 100%;
    left: 0;   
}