@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    list-style: none;
    text-decoration: none;
}

.font-roboto{
    font-family: "Roboto", sans-serif;
}

.font-nunito{
    font-family: "Nunito Sans", sans-serif;
}

.fs-18{
    font-size: 18px;
}

.background-color{
    background-color: #f9f9ff;
}

.contribute-btn:hover{
    background-color: #0b022acb !important;
}

.menus ul li a:hover{
    color: red !important;
}

.menus ul li{
    position: relative;
}

.menus ul li a:after{
    content: "";
    position: absolute;
    width: 0;
    border: 1px solid #ab0000;
    bottom: 0;
    visibility: hidden;
    right: 0;
    transition: 0.5s all linear;
}

.menus ul li a:hover::after{
    visibility: visible;
    width: 100%;
    left: 0;   
}

.hero-background{
    background-image: url("../images/h-background.jfif");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.p-tb-150{
    padding: 150px 0;
}

.img-hero{
    top: 36%;
}

.donate-list li{
    background-color: #EFEFF7;   
    transition: 0.4s all linear;
}

.btn-campaign:hover{
    background-color: #EFEFF7;
    color: black;
}

.donate-list li:hover{
    background-color: rgba(243, 12, 12, 0.947);
    color: white;
}

.video-btn{
    top: 40%;
    left: 40%;
}

.card-img img{
    max-height: 250px;
    object-fit: cover;
    width: 100%;
}

.blog-date{
    height: 90px;
}

.month p{
    margin-top: -16px;
}

.month{
    background-color: rgb(25, 14, 78);
}