@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    list-style: none;
    text-decoration: none;
}

.font-roboto{
    font-family: "Roboto", sans-serif;
}

.font-nunito{
    font-family: "Nunito Sans", sans-serif;
}

.fs-18{
    font-size: 18px;
}

.background-color{
    background-color: #f9f9ff;
}

.contribute-btn:hover{
    background-color: #0b022acb !important;
}

.menus ul li a:hover{
    color: red !important;
}

.menus ul li{
    position: relative;
}

.menus ul li a:after{
    content: "";
    position: absolute;
    width: 0;
    border: 1px solid #ab0000;
    bottom: 0;
    visibility: hidden;
    right: 0;
    transition: 0.5s all linear;
}

.menus ul li a:hover::after{
    visibility: visible;
    width: 100%;
    left: 0;   
}

.hero-background{
    background-image: url("../images/h-background.jfif");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.p-tb-150{
    padding: 150px 0;
}

.img-hero{
    top: 36%;
}

.donate-list li{
    padding: 10px 10px;
}
.donate-list li div{
    transition: 0.4s all linear;
    background-color: #EFEFF7;
}

.btn-campaign:hover{
    background-color: #EFEFF7;
    color: black;
}

.donate-list li div:hover{
    background-color: rgba(243, 12, 12, 0.947);
    color: white;
}

.video-btn{
    top: 40%;
    left: 40%;
}

.card-img img{
    max-height: 250px;
    object-fit: cover;
    width: 100%;
    transition: 0.4s all linear;
}

.blog-date{
    height: 90px;
}

.month{
    background-color: rgb(25, 14, 78);
}

.extra-small{
    font-size: 12px;
}

.progress{
    height: 7px;
}

.card-img img:hover{
    transform: scale(1.01,1.01);
}

.v-d-inner{
    line-height: 30px;
}

.sticky{
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    left: 0;
    animation: fadeInDown .7s ease-in-out 0s 1 normal none running;
    transition: all .3s ease-in-out;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -30%, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.testimonials-img{
    width: 250px;
}

.testimonials-img img{
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
}

.refuge-man a img{
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.refuge-man-1 a img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}